.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a5fc1;
}
.pageTitle {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  width: 150px;
  padding: 10px;
  background-color: white;
  color: #333;
}
